[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/dream"]
	path = themes/dream
	url = https://github.com/g1eny0ung/hugo-theme-dream.git
